<fieldset>
	<legend>{% trans 'Boards' %}</legend>
	
	<ul>
		{% for board in boards %}
			<li>
				<a href="?/{{ config.board_path|sprintf(board.uri) }}{{ config.file_index }}">{{ config.board_abbreviation|sprintf(board.uri) }}</a>
					 - 
				{{ board.title|e }}
				{% if board.subtitle %}
					 <small>&mdash; {{ board.subtitle|e }}</small>
				{% endif %}
				{% if mod|hasPermission(config.mod.manageboards) %}
					 <a href="?/edit/{{ board.uri }}"><small>[{% trans 'edit' %}]</small></a>
				{% endif %}
			</li>
		{% endfor %}
		
		{% if mod|hasPermission(config.mod.newboard) %}
			<li style="margin-top:15px"><a href="?/new-board"><strong>{% trans 'Create new board' %}</strong></a></li>
		{% endif %}
	</ul>
</fieldset>

<fieldset>
	<legend>{% trans 'Messages' %}</legend>
	<ul>
		{% if mod|hasPermission(config.mod.noticeboard) %}
			{% if noticeboard|count > 0 %}
				<li>
					{% trans 'Noticeboard' %}:
					<ul>
						{% for post in noticeboard %}
							<li>
								<a href="?/noticeboard#{{ post.id }}">
									{% if post.subject %}
										{{ post.subject|e }}
									{% else %}
										<em>{% trans 'no subject' %}</em>
									{% endif %}
								</a> 
								<small class="unimportant">
									&mdash; by 
									{% if post.username %}
										{{ post.username|e }}
									{% else %}
										<em>deleted?</em>
									{% endif %} 
									at 
									{{ post.time|date(config.post_date) }} 
								</small>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
			<li><a href="?/noticeboard">{% trans 'View all noticeboard entries' %}</a></li>
		{% endif %}
		<li><a href="?/news">{% trans 'News' %}</a></li>
		<li>
			<a href="?/inbox">
				{% trans 'PM inbox' %} 
				{% if unread_pms > 0 %}<strong>{%endif %}({{ unread_pms }} unread){% if unread_pms > 0 %}</strong>{%endif %}
			</a>
		</li>
	</ul>
</fieldset>

<fieldset>
	<legend>{% trans 'Administration' %}</legend>
	
	<ul>
		{% if mod|hasPermission(config.mod.reports) %}
			<li>
				{% if reports > 0 %}<strong>{% endif %}
					<a href="?/reports">{% trans 'Report queue' %} ({{ reports }})</a>
				{% if reports > 0 %}</strong>{% endif %}
			</li>
		{% endif %}
		{% if mod|hasPermission(config.mod.view_banlist) %}
			<li><a href="?/bans">{% trans 'Ban list' %}</a></li>
		{% endif %}
		{% if mod|hasPermission(config.mod.manageusers) %}
			<li><a href="?/users">{% trans 'Manage users' %}</a></li>
		{% elseif mod|hasPermission(config.mod.change_password) %}
			<li><a href="?/users/{{ mod.id }}">{% trans 'Change password' %}</a></li>
		{% endif %}
		{% if mod|hasPermission(config.mod.themes) %}
			<li><a href="?/themes">{% trans 'Manage themes' %}</a></li>
		{% endif %}
		{% if mod|hasPermission(config.mod.modlog) %}
			<li><a href="?/log">{% trans 'Moderation log' %}</a></li>
		{% endif %}
		{% if mod|hasPermission(config.mod.rebuild) %}
			<li><a href="?/rebuild">{% trans 'Rebuild' %}</a></li>
		{% endif %}
		{% if mod|hasPermission(config.mod.show_config) %}
			<li><a href="?/config">{% trans 'Configuration' %}</a></li>
		{% endif %}
		
	</ul>
</fieldset>

{#
<fieldset>
	<legend>{% trans 'Search' %}</legend>
	
	<ul>
		<li>
			<form style="display:inline" action="?/search" method="post">
				<label style="display:inline" for="search">{% trans 'Phrase:' %}</label> 
				<input id="search" name="search" type="text" size="35">
				<input type="submit" value="{% trans 'Search' %}">
			</form>
			<p class="unimportant">{% trans '(Search is case-insensitive, and based on keywords. To match exact phrases, use "quotes". Use an asterisk (*) for wildcard.)' %}</p>
		</li>
	</ul>
</fieldset>
#}

{% if config.debug %}
	<fieldset>
		<legend>{% trans 'Debug' %}</legend>
		<ul>
			<li><a href="?/debug/antispam">{% trans 'Anti-spam' %}</a></li>
			<li><a href="?/debug/recent">{% trans 'Recent posts' %}</a></li>
			{% if mod|hasPermission(config.mod.debug_sql) %}
				<li><a href="?/debug/sql">{% trans 'SQL' %}</a></li>
			{% endif %}
		</ul>
	</fieldset>
{% endif %}

{% if newer_release %}
	<fieldset>
		<legend>Update</legend>
		<ul>
			<li>
				A newer version of Tinyboard 
				(<strong>v{{ newer_release.massive }}.{{ newer_release.major }}.{{ newer_release.minor }}</strong>) is available! 
				See <a href="http://tinyboard.org">http://tinyboard.org/</a> for upgrade instructions.
			</li>
		</ul>
	</fieldset>
{% endif %}

<fieldset>
	<legend>{% trans 'User account' %}</legend>
	
	<ul>
		<li><a href="?/logout">{% trans 'Logout' %}</a></li>
	</ul>
</fieldset>

